{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Submit an assignment</h1>

{% if error_message %}
<div class="alert alert-error">{{ error_message }}</div>
{% endif %}

{% if submission %}
<div class="alert alert-success">
  <h4>Success!</h4>
  <p>Submission received. Please check for the bot acknowledgement on your
    <a href="{{ submission.github_url }}">pull request</a>.</p>
</div>
{% if submission.late %}
<div class="alert alert-warning">
  <p>This submission was marked late.</p>
</div>
{% endif %}

{% endif %}

<form action="/submit/" method="post" class="form-horizontal">{% csrf_token %}
  {{ form|crispy }}

  <div class="controls">
      <button type="submit" class="btn">Submit Assignment</button>
  </div>
</form>
{% endblock %}
