<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}Penn Class Management{% endblock %}</title>
  </head>

  <body>
    <div id="sidebar">
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url home %}">Home</a></li>
        <li><a href="{% url submit %}">Submit Homework</a></li>
        <li><a href="{% url logout %}">Logout</a></li>
        {% else %}
        <li><a href="{% url login %}">Login</a></li>
        <li><a href="{% url register %}">Register</a></li>
        {% endif %}
        {% block sidebar %}{% endblock %}
    </div>

    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
